# Local segmentation config
colokroll/analysis/config.yaml
manual_coloc.xlsx

# Data files
data/
*.tif
*.tiff
*.ome.tif
*.ome.tiff
*.nd2
*.oir
*.json # Metadata files from conversions

# Python bytecode and related files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pywzw
*.pyzwzw

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Specific files to ignore
CLAUDE.MD
colokroll.egg-info/
*.err
*.out

tests/

# Specific files in specific directories
*.csv
*.png

.venv/
uv.lock
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local
paper/

*.DS_Store